html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --background-color: #2d2d2d;
  --font-color: #ffffff;
  --font-color2: #00d5e4;
  --line-color: #575555;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:focus {
  color: var(--font-main4);
  border: 10rem;
}

button:hover {
  transform: scale(1.1);
}

a:hover {
  transform: scale(1.1);
}

hr {
  border: 1px solid var(--line-color);
}

h1 {
  /* font-family: 'Rubik'; */
  font-size: 3rem;
  color: var(--font-color);
}

p {
  font-size: 1.6rem;
  color: var(--font-color);
}

em {
  font-style: sans-serif;
  font-size: 1.6rem;
  color: var(--font-color2);
}

a {
  font-size: 1.6rem;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 40%;
  min-width: 32rem;
}

.form {
  display: block;
  text-align: center;
}

p.form {
  color: var(--font-color2);
  text-align: left;
}

legend {
  color: var(--font-color);
}

p.form:focus {
  transform: scale(1.1);
}
p.form:hover {
  transform: scale(1.1);
}

.header-menu-1 {
  font-size: 1.6rem;
  color: var(--font-color);
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2.1rem 1.6rem 1rem;
}

.page-max-width {
  max-width: 1400px;
  /* margin: 0 auto; */
  align-items: center;
  margin: 0 auto;
}
.text-max-width {
  max-width: 81rem;
}

.header-menu-wide {
  display: none;
}

.header-menu-button {
  display: inherit;
}

ul.center {
  gap: 2.5rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

li.center {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  align-items: center;
  align-content: center;
  width: 320px;
}

section {
  padding: 3.2rem 2.1rem 2rem 1rem;
}

.img-big-container1 {
  display: block;
  object-fit: contain;
  /* margin-left: auto; */
  /* float: right; */
  max-width: 55rem;
  min-width: 35rem;
  width: 90%;
  height: auto;
}

.img-big-container2 {
  display: block;
  object-fit: contain;
  margin-right: 0rem;
  width: 35%;
  max-width: 55rem;
  flex-basis: 32rem;
  /* margin-left: auto; */
}

.body-image-wrapper {
  justify-content: space-between;
  align-items: center;
}

.img-params {
  display: block;
  object-fit: contain;
  width: 11.4rem;
}

.header-menu-button {
  background: none;
  border: none;
  padding: 0;
  display: initial;
}

button.form {
  width: 32rem;
  background: var(--font-color);
  border-radius: 1rem;
  border: 0;
  color: var(--font-color2);
  text-transform: uppercase;
  padding-left: 5.56rem;
  padding-right: 5.56rem;
  padding-top: 1.25rem;
  padding-bottom: 1.31rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  transition-property: all;
}

@media all {
  .header-menu-wide {
    display: none;
  }
  .header-menu-button {
    display: initial;
  }
  .img-big-container2 {
    display: none;
  }
  .img-big-container1 {
    display: block;
  }
}

@media all and (min-width: 810px) {
  .header-menu-wide {
    display: initial;
  }
  .header-menu-button {
    display: none;
  }
}

@media all and (min-width: 1360px) {
  .img-big-container2 {
    display: initial;
  }
  .img-big-container1 {
    display: none;
  }
}
